body{
background-color: rgb(192, 176, 106);
margin: 0%;
}

.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(127, 156, 85);
}

main{
    min-height: 100vh;
}

img{ 
    width: 70%;
    height: 70%;
}

div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
